{% extends 'base.html.twig' %}

{% block body %}
<div id="app" data-username="{{ app.user.username }}"></div>
{% endblock %}

{% block javascript %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}